
.scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  width: 400px; 
  height: 400px;
}

#globeCanvas {
  width: 100%; /* Now it fills the 400px parent */
  height: 100%;
  display: block;
  border-radius: 50%;
}