
.scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  width: 400px; 
  height: 400px;
}

#globeCanvas {
  width: 100%; /* Now it fills the 400px parent */
  height: 100%;
  display: block;
  border-radius: 50%;
  /* box-shadow: 0 0 40px rgba(42,157,244,0.2) inset; */
  /* background: radial-gradient(circle at 30% 30%, #091728, #001018); */
}