.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#star-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    border-radius: 50%;
    animation: shimmer 10s linear infinite;
    /* The JavaScript will fill the box-shadow here */
}

#stars-larger {
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    animation: shimmer 15s linear infinite;
    /* The JavaScript will fill the box-shadow here */
}

@keyframes shimmer {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

#title {
    position: absolute;
    top: 12%;
    left: 2%;
    z-index: 1;
    color: white;
    font-family: 'Arial', sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    font-size: 3em;
}

#title h1 {
    margin-bottom: 0px;
}

#title p {
    font-size: 0.5em;
}

/* When viewport width is 600px or less, hide the text */
@media (max-width: 1200px) {
    #title {
        display: none; /* Removes it from layout */
    }
}